
DATABASE_URL=""
JWT_SECRET=""
GMAIL_USER=""
GMAIL_PASS="app password"
PORT=3000
CLOUDINARY_CLOUD_NAME="dw8pfqxyg"
CLOUDINARY_API_KEY="956949287331977"
CLOUDINARY_API_SECRET="wIdqtV6RDen1vsNN-0qoJlmHRBo"
