DATABASE_URL=""

SUPERADMIN_FULLNAME=""
SUPERADMIN_EMAIL=""
SUPERADMIN_PASSWORD=""
SUPERADMIN_ROLE=""
SUPERADMIN_POSIT=""

GMAIL_USER=""
GMAIL_PASS=""
JWT_SECRET=""
PORT=3000


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

